<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LanchScreen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F2F80B8C1CB4B0CA004BE556</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F2F80BA31CB4B0CA004BE556</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F2F80BAE1CB4B0CA004BE556</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
